body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f2e8df;
    font-family: helvetica;
    font-size: 1.4rem;
    opacity: 0.9;
}

@font-face {
    font-family: RustBook;
    src: url(../Fonts/OTF/IntroRustBook-Trial-FillG.otf);
}

@font-face {
    font-family: Chivo;
    src: url(../Fonts/Chivo/);
}

@font-face {
    font-family: Tinos;
    src: url(../Fonts/Tinos/);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Chivo;

}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-family: Tinos;
}


.header-container {
    height: 6rem;
    border-bottom: 1px solid whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    background-color: #183a37;
}

.logo {
    padding: 10px;
    height: 50px;
    display: inline-flex;
    color: whitesmoke;
    font-size: 4rem;
    text-decoration: none;
}

#logo-font, .logo {
    font-family: RustBook;
}

.logo-link {
    color: whitesmoke;
    text-decoration: none;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.menu-container {
    height: 4rem;
    position: fixed;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    background-color: rgb(196, 73, 0);
    text-align: center;
    z-index: 99;
    padding-top: 5.5rem;
}

.menu-item {
    list-style: none;
    color: whitesmoke;
    display: inline;
    padding: 10px;
    font-size: 1.2rem;
    
}

.menu {
    color: whitesmoke;
    text-decoration: none;
}


/*Product Management Section*/

.product-management-header {
    padding-top: 10rem;
    text-align: center;
    color: brown;
}

.product-management-section {
    width: 100%;
    align-content: center;
    text-align: center;
}

.header-font {
    font-size: 2rem;
}

.product-section {
    width: 100%;
}

.product-project {
    color: white;
    text-align: center;
    margin: auto;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.project-expo {
    color: wheat;
    padding: 3rem;
    background-color: #432534;
}

.project-cta {
    border: 1px solid wheat;
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto; 
}

.project-cta-button {
    color: wheat;
}

.project-paragraph {
    width: 30rem;
}

#collections {
    padding-top: 5rem;
}

.product-project-image {
    max-width: 40%;
    height: auto;
}

/*Contact Section*/

.contact-section {
    margin-top: 6rem;
    text-align: center;
    color: wheat;
    align-items: center;
}

.get-in-touch {
    background-color: #432534;
    margin: auto;
    width: 50%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.good-fit {
    font-size: 3rem;
}

.email, .phone-number {
    text-decoration: underline;
    color: wheat;
}

.footer {
    color: brown;
}

/* Media Queries */
@media (max-width: 1050px) {
    .menu ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu-item {
        display: block;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .menu-container {
        height: auto;
    }

    .header-content {
        margin-top: 8rem;
        width: 100%;
    }

    .product-project, .cover-container, .brand-management-header {
      flex-direction: column;
    } 

    .product-management-header {
        padding-top: 18rem;
    }

    .logo {
        font-size: 2.5rem;
    }

    .cover-container {
        align-items: center;
    }

  }